# ENV_NIX_APP_ID=app_6f81536690e04bcabe42431a
# ENV_NIX_API_KEY=nix_live_OGIGo0umRDUJ3uKrdZ8O8cDdoiylJWQB

# ENV_SHEETY_ENDPOINT=https://api.sheety.co/526c05b82ead65ddb461ea98c88de02b/myOwnWorkouts/sheet1
# ENV_SHEETY_TOKEN=YmlwaW4xOTI6YmlwaW5AMTkyQA==

# #ENV_SHEETY_TOKEN=YmlwaW4xOTI4NUBnbWFpbC5jb206YmlwaW41ODI5MUA=

# ENV_SHEETY_USERNAME=bipin192
# ENV_SHEETY_PASSWORD=bipin@192@

# GENDER=male
# WEIGHT_KG=84
# HEIGHT_CM=130
# AGE=32

ENV_NIX_APP_ID=your_nutritionix_app_id
ENV_NIX_API_KEY=your_nutritionix_api_key

ENV_SHEETY_ENDPOINT=your_sheety_endpoint
ENV_SHEETY_USERNAME=your_sheety_username
ENV_SHEETY_PASSWORD=your_sheety_password

GENDER=male
WEIGHT_KG=84
HEIGHT_CM=180
AGE=32